@import "normalize";

body {
	background: #4CA4D8;
	padding: 2em;
	color: #fff;
}
input::-webkit-input-placeholder {
   color: #10689A;
   font-style: italic;
}
.section-one {
	label {
		display: block;
	}
	input, textarea {
		background-color: transparent;
		border: .15em solid #fff;
		width: 100%;
	}
	select {
		width: 100%;
		background-color: transparent;
	}
}